@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply border rounded-full cursor-pointer px-4 py-2 hover:shadow-lg active:scale-95 active:bg-gray-100 transition transform duration-150 ease-out;
  }
}

* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}
